body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, Courier New, monospace;
}

.ancients-container {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  gap: 10px;
  width: 40%;
  padding: 20px;
}

.ancients-container .ancient-card {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  box-sizing: border-box;
  cursor: pointer;
  height: 187.5px;
  width: 150px;
  opacity: 0.5;
  transition: 0.1s ease;
}

.ancients-container .ancient-card.active,
.ancients-container .ancient-card:hover {
  opacity: 1;
}

.ancient-abhoth {
  background-image: url(./assets/ancients/Abhoth.webp);
}

.ancient-antediluvium {
  background-image: url(./assets/ancients/Antediluvium.webp);
}

.ancient-atlachnacha {
  background-image: url(./assets/ancients/AtlachNacha.webp);
}

.ancient-azathoth {
  background-image: url(./assets/ancients/Azathoth.webp);
}

.ancient-cthulthu {
  background-image: url(./assets/ancients/Cthulthu.webp);
}

.ancient-elderthings {
  background-image: url(./assets/ancients/ElderThings.webp);
}

.ancient-hastur {
  background-image: url(./assets/ancients/Hastur.webp);
}

.ancient-hypnos {
  background-image: url(./assets/ancients/Hypnos.webp);
}

.ancient-logsothoth {
  background-image: url(./assets/ancients/IogSothoth.webp);
}

.ancient-ithaqua {
  background-image: url(./assets/ancients/Ithaqua.webp);
}

.ancient-nephrenka {
  background-image: url(./assets/ancients/NephrenKa.webp);
}

.ancient-nyarlathotep {
  background-image: url(./assets/ancients/Nyarlathotep.webp);
}

.ancient-shubniggurath {
  background-image: url(./assets/ancients/ShubNiggurath.webp);
}

.ancient-shuddemell {
  background-image: url(./assets/ancients/ShuddeMell.webp);
}

.ancient-syzygy {
  background-image: url(./assets/ancients/Syzygy.webp);
}

.ancient-yig {
  background-image: url(./assets/ancients/Yig.webp);
}

.difficulty-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100vh;
  min-width: 150px;
  justify-content: center;
}

.difficulty-container .difficulty {
  border-radius: 4px;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  padding: 5px;
  text-align: center;
  transition: 0.1s ease;
}

.difficulty {
  background-color: rgb(11, 118, 59);
  font-weight: bolder;
}

.difficulty-container .difficulty.active,
.difficulty-container .difficulty:hover {
  background-color: rgb(201, 38, 45);
}

.deck-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  min-width: 30%;
}

.deck-container .shuffle-button {
  border-radius: 4px;
  background-color: rgb(11, 118, 59);
  color: white;
  cursor: pointer;
  padding: 5px;
}

.deck-container .shuffle-button:hover {
  background-color: rgb(201, 38, 45);
}

.deck-container .current-state {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-height: 30%;
}

.deck-container .current-state .stage-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.deck-container .current-state .stage-container .stage-text {
  color: white;
}

.deck-container .current-state .stage-container .stage-text.done {
  color: red;
}

.deck-container .current-state .stage-container .dots-container {
  align-items: center;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.deck-container .current-state .stage-container .dot {
  align-items: center;
  border-radius: 50%;
  display: flex;
  height: 30px;
  justify-content: center;
  width: 30px;
  color: white;
}

.deck-container .current-state .stage-container .dot.green {
  background-color: rgb(11, 118, 59);
}

.deck-container .current-state .stage-container .dot.brown {
  background-color: rgb(183, 146, 24);
}

.deck-container .current-state .stage-container .dot.blue {
  background-color: rgb(52, 118, 189);
}

.deck-container .deck {
  cursor: pointer;
}

.deck-container .deck,
.deck-container .last-card {
  background-size: cover;
  height: 190px;
  width: 130px;
}

.deck {
  background-image: url(./assets/cardBackground.png);
}

.App {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  gap: 20px;
  height: 100vh;
  justify-content: space-between;
  width: 100vw;
  background-image: url(./assets/background.png);
}
